.logo {
  color: rgb(11 178 234);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}

.logo > span {
  display: inline-block; 
  color: rgb(52 66 86);
  transition: 1s;
}

.logo:hover.logo>span{
   transform: translateX(10px);
}